/* ==========================================================================
   Autor: Agentur KOPFNUSS - Marco Schaedlich
   Component: Hero dots Section
   Beschreibung: Styles fuer die Hero-Section mit Dots.
   Ebene (Layer): Components
   Wiederverwendbar: Nein
   Custom-Property-Definitionen: Nein
   Abhaengigkeiten: tokens.semantic.css
   ========================================================================== */

@layer projects {
    /* Dekorative Dots */
    .hero__column:last-child {
        position: relative;
        z-index: 2;
        border-radius: var(--border-radius-default);
        overflow: hidden;
    }

    .hero-form {
        position: absolute;
        width: clamp(60px, 18vw, 200px);
        height: clamp(60px, 18vw, 200px);
        z-index: 1;
        border-radius: 50%;
        pointer-events: none;

        /* Fuer performante Animationen in der Dot-Animation */
        transform: translate3d(0, 0, 0);
        will-change: transform;
    }

    .hero-form--triangle {
        left: -20px;
        top: -20px;
        z-index: 3;
    }

    .hero-form--square {
        right: 14%;
        bottom: 8%;
        z-index: 3;
    }

    .hero-form--circle {
        display: none;
        z-index: 3;
    }

    @media (width > 600px) {
        .hero-form--square {
            left: 52%;
            bottom: 8%;
        }
        .hero-form--circle {
            display: block;
            right: 10%;
            top: 8%;
        }
    }

    @media (width > 1400px) {
        .hero-images {
            position: relative;
            z-index: 2;
        }
        .hero__column:last-child {
            overflow: inherit;
        }
        .hero-form--triangle {
            left: -100px;
            top: 10%;
            z-index: 3;
        }
    }
}
