/* =========================================================================
   Autor: Agentur KOPFNUSS - Marco Schaedlich
   Einstellungen: Tokens Project Semantic
   Beschreibung: Definition von Tokens fuer das Projekt.
   Ebene (Layer):
   Wiederverwendbar: Ja
   Custom-Property-Definitionen: Ja
   Abhaengigkeiten:
   ========================================================================== */

@layer settings {
    :root {
        /* ================
         Brand-Farben
         ================ */
        --brand-color-primary: var(--clr-green-500);
        --brand-color-secondary: var(--clr-violett-500);
        --brand-color-tertiary: var(--clr-orange-500);
    }
}