/* ==========================================================================
   Author: Agentur KOPFNUSS - Marco Schädlich
   Extension: Contao backend Custom Styles
   Description: Custom styles for the Contao backend.
   Layer:
   Reusable: No
   Custom Property Definitions: No
   Depends on:
   Extension:
   ========================================================================== */

