/* ==========================================================================
   Autor: Agentur KOPFNUSS - Marco Schaedlich
   Generic: Fonts
   Beschreibung: Importiert lokale Fonts.
   Ebene (Layer): Generic
   Wiederverwendbar: Nein
   Custom-Property-Definitionen: Nein
   Abhaengigkeiten:
   ========================================================================== */

/* Relativer Root-Pfad von kompilierter CSS zum Fonts-Ordner ist css/ */
@layer generic {
    @font-face {
        font-family: Copperhewitt;
        src: url("../fonts/cooperhewitt-medium-webfont.woff2") format("woff2");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: Copperhewitt;
        src: url("../fonts/cooperhewitt-semibold-webfont.woff2") format("woff2");
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: Copperhewitt;
        src: url("../fonts/cooperhewitt-bold-webfont.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: Copperhewitt;
        src: url("../fonts/cooperhewitt-heavy-webfont.woff2") format("woff2");
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: Inter;
        src: url("../fonts/inter-extralight-webfont.woff2") format("woff2");
        font-weight: 200;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: Inter;
        src: url("../fonts/inter-light-webfont.woff2") format("woff2");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: Inter;
        src: url("../fonts/inter-lightitalic-webfont.woff2") format("woff2");
        font-weight: 300;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: Inter;
        src: url("../fonts/inter-regular-webfont.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: Inter;
        src: url("../fonts/inter-medium-webfont.woff2") format("woff2");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: Inter;
        src: url("../fonts/inter-bold-webfont.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }
}
